.blog-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-area__item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
