.gallery-intro {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery-intro__item {
  margin-right: 30px;
}

.gallery-intro__item:last-of-type {
  margin-right: 0;
}
