.item-details__name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.item-details__profession {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;

  line-height: 24px;
  color: #999999;
  text-transform: none;
}
